
body{
font-family:Arial,sans-serif;
background:#eef5fb;
padding:15px;
margin:0;
}

header{
text-align:center;
}

.card{
background:white;
padding:20px;
border-radius:20px;
margin-top:15px;
box-shadow:0 4px 12px rgba(0,0,0,.08);
}

.hero{
text-align:center;
}

.pet-image{
width:180px;
height:180px;
object-position:center top;
border-radius:50%;
border:5px solid white;
box-shadow:0 6px 20px rgba(0,0,0,0.15);
display:block;
margin:auto;
margin-top:15px;
margin-bottom:20px;
}

button{
width:100%;
padding:18px;
font-size:20px;
border:none;
border-radius:15px;
cursor:pointer;
}

.stats{
display:flex;
justify-content:space-around;
text-align:center;
margin-bottom:20px;
}

.stats span{
display:block;
font-size:32px;
font-weight:bold;
}

.event{
background:#f4f7fa;
padding:12px;
border-radius:12px;
margin-top:10px;
}

.dot{
font-size:20px;
}
